body{ /* Whole Website Font-Family is Sans-Serif*/
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin: 0px; /*Rember i removed padding and margin for removing extra unwanted white spaces*/
    padding: 0px;
}

.MainPageCegLogo{ /*Home Page Logo Animation And Auto Adjusting Height And Width*/
    width: 25%;
    height: auto;
    position:absolute;
    animation: FadingOutAnimation 2s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /*This code make the logo go at centre*/
}

.MainPageContents{ /*Displaying the Main Contents in the page as None for the logo animation to happen*/
    display: none;
}

@keyframes FadingOutAnimation{  /*Fadeing Out Animation*/
    from{opacity:1} to{opacity:0}
}
/*Header*/
header{
    overflow: hidden;
}

header .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
  
header .openbtn:hover {
    background-color: #444;
}

header  .float-right{
    position:absolute;
    right:0;
    top:0
}

header .parallax1{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url('../Images/DemoPic1.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header #parallax1 h1{
    display: inline-block;
    overflow: hidden;
    padding: 4px;
    margin-left: 25vw;
    margin-top: 35vh;
    background-color: white;
}

/*Section1*/
section .parallax2{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url('../Images/DemoPic2.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Section2*/
section .parallax3{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url('../Images/DemoPic3.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Side Pannel*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding-top: 50px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}



  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  
/*Footer*/
footer{
    background-color: black;
    overflow: hidden;
    color: white;
    display: flex;
    max-height: 200px;
}

footer .footer-logo{
    flex: 1;
}

footer .footer-logo  img{
    width: 100px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

footer .footer-address{
    padding: 10px;
    flex: 2;
    font-size: 15px;
}

footer .footer-links{
    flex: 7;
    float:right;
}

footer .footer-links ul {  
    list-style-type: none;
    margin: 16px;
    padding: 0px;
}

footer .footer-links ul li a{
    text-decoration: none;
    color: white;
}

footer .footer-links ul li{
    padding: 3px;
}

footer .footer-links ul li :hover{
    padding: 3px;
    background-color: #424242;
}

footer .footer-links ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer.second-logo{
    flex: 1;
    margin: 0px;
    padding: 0px;
}

footer .second-logo img{
    width: 100px;
    height: auto;
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 768px) {
    /*When Site is viewed from tablet logo and address will be removed*/
    footer .footer-logo{
        display: none;
    }
    footer .footer-address{
        display: none;
    }
}

/*Bellow Footer*/
.page-end-below-footer{
    background-color: black;
    text-align: center;
    padding: 0px 10px 10px 10px;
    color: white;
}

.page-end-below-footer label a{
    text-decoration: none;
    color: white;
}

.second-logo{
	flex:1;
	float:right;
	clear:right;
    	padding-left: 10px;
    	padding-right: 10px;
    	padding-top: 10px;
	overflow:visible;
	margin-right:1px;
}